@model AppApi.Model.Video

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Video</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Video_Links)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Video_Links)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Categories)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_Video">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
